/* Preview Mode */
.preview #bleed,
.preview .curtain,
.preview #themes {
  display: none;
}
.preview {
  background: -webkit-radial-gradient(circle,#27a3de,#082345);
  background-size: cover;
}
#preview {
  display: none;
  font: normal 24px/36px "Open Sans", sans-serif;
  position: absolute;
  left: 0; right: 0; top: 0;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 2px #000;
  padding: 21px;
}
.preview #preview {
  display: block;
}
.preview h1 {
  font-size: 16px;
  line-height: 24px;
  width: 200px;
  margin: 10px auto;
  font-weight: normal;
}
.preview h1 strong {
  font-weight: 700;
  display: block;
  font-size: 24px;
  margin-bottom: 8px;
}
body[data-device=desktop].preview {
}
#status {
  position: absolute;
  background: rgba(0,0,0,.8);
  font: normal 10px sans-serif;
  color: #fff;
}
.curtain {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 32000;
  background-color: rgba(0,0,0,0);
  display: none;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
div#bleed {
  display: table;
  width: 100%;
  height: 100%;
}
section#spread {
  text-align: center;
  display: table-cell;
  font-weight: normal;
  font-size: 3em;
  padding: 21px;
  height: 100%;
  overflow: hidden;
}
section#spread.left {
  text-align: left;
}
section#spread.center {
  text-align: center;
}
section#spread.right {
  text-align: right;
}
section#spread.top {
  vertical-align: top;
}
section#spread.middle {
  vertical-align: middle;
}
section#spread.bottom {
  vertical-align: bottom;
}
/* Editmode */
body.editmode[data-device=iphone][data-orientation=landscape] #bleed {
  height: 139px;
}
body.editmode[data-device=iphone][data-orientation=portrait] #bleed {
  height: 243px;
}
body.editmode[data-device=iphone] #spread {
  padding-bottom: 33px;
}
body.editmode[data-device=ipad][data-orientation=landscape] #bleed {
  height: 396px;
}
body.editmode[data-device=ipad][data-orientation=portrait] #bleed {
  height: 740px;
}
body.editmode[data-device=ipad] #spread {
  padding-bottom: 44px;
}
/* Theme Menu */
#bleed {
}
.theme-menu #bleed {
  margin-top: -100px;
  position: relative;
}
.theme-menu .curtain {
  bottom: 100px;
  display: block;
}
#themes {
  position: absolute;
  left: 0; right: 0; bottom: 0;
  height: 110px;
  background: -webkit-linear-gradient(top, #000 0%, #222 15px);
  -webkit-transform: scaleY(0);
  margin-top: 100px;
  overflow: scroll;
  -webkit-overflow-scrolling:touch;
}
.theme-menu #themes {
  -webkit-transform: scaleY(1);
  margin-top: 0;
}
#theme-list {
  padding: 0 10px;
  width: 1310px; // TODO: Make this the right width;
  overflow: hidden;
}
#theme-list button {
  -webkit-appearance: none;
  width: 75px;
  height: 70px;
  margin: 10px 4px;
  padding: 0;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 2px 4px #000;
  background: #eee;
  display: block;
  float: left;
}
#theme-list button span {
  position: absolute;
  display: block;
  margin-top: 38px;
  width: 75px;
  font-weight: bold;
  color: #fff;
}
#theme-list hr {
  border: none;
  border-left: 1px solid #444;
  margin: 20px 5px 4px 4px;
  position:absolute;
  display: inline-block;
  height: 60px;
}
#theme-list span.share button {
  width: 180px;
  margin-left: 16px;
  background: -webkit-linear-gradient(top,#0c0,#090);
  color: #fff;
}