@import url(../fonts/scifly.css);
@import url(../fonts/alex.css);

@font-face {
  font-family: 'Oswald';
  src: url(../fonts/Oswald-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald';
  src: url(../fonts/Oswald-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Nexa';
  src: url(../fonts/NexaLight.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nexa';
  src: url(../fonts/NexaBold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'StMarie';
  src: url('../fonts/StMarie-Thin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Permanent Marker';
  src: url(../fonts/PermanentMarker.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Noticia';
  src: url(../fonts/NoticiaText-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noticia';
  src: url(../fonts/NoticiaText-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Otama';
  src: url(../fonts/Otama-ep.otf) format('truetype');
  font-weight: normal;
  font-style: normal;
}