@import url(fonts.css);

/* Alignment */
#spread.left {
  padding-left: 21px;
}
#spread.right {
  padding-right: 21px;
}
#spread.top {
  padding-top: 21px;
}
#spread.bottom {
  padding-bottom: 21px;
}
#spread {
  background-image: -webkit-radial-gradient(center, circle cover, rgba(0,0,0,0) 40%,rgba(0,0,0,0.3) 100%);
  background-size: contain;
}

/* Slim */
.white #spread {
  font-family: "Oswald";
  background-image: -webkit-radial-gradient(center, circle cover, rgba(255,255,255,1),#eee8d5);
  color: #002b36;
  text-transform: uppercase;
  font-weight: 300;
}
.white #spread strong {
  font-weight: 700;
  font-size: 95.5%;
}
#theme-list button[data-theme=white] {
  background-color: #eee8d5;
}

/* Nexa */
.nexa #spread {
  font-family: "Nexa";
  background: -webkit-radial-gradient(center, circle cover, rgba(255,255,255,1) 40%,rgba(200,218,218,1) 100%);
  text-transform: uppercase;
  font-weight: normal;
  color: #002b36;
}
.nexa #spread strong {
  font-weight: bold;
}
#theme-list button[data-theme=nexa] {
  background-color: rgb(200,218,218);
}

/* Tech */
.scifly #spread {
  font-family: "SciFly";
  text-transform: uppercase;
  font-weight: normal;
  color: #002b36;
  background-color: #e5ac00;
  background-image: -webkit-radial-gradient(center, circle cover, rgba(255,255,255,.6),rgba(255,255,255,0));
}
.scifly #spread strong {
  color: #fdf6e3;
  font-weight: normal;
}
#theme-list button[data-theme=scifly] {
  background-color: #b58900;
}

/* Swiss */
.swiss #spread {
  padding: 0!important;
  font-family: "Helvetica";
  font-weight: normal;
  background-color: #dc322f;
  color: #fdf6e3;
}
.swiss #spread strong {
  font-weight: bold;
}
#theme-list button[data-theme=swiss] {
  background-color: #dc322f;
}

/* Square */
.alex #spread {
  font-family: "WasIstDesign";
  background-color: #cb4b16;
  text-transform: uppercase;
  font-weight: normal;
  color: #fdf6e3;
}
.alex #spread strong {
  color: #002b36;
  font-weight: normal;
}
#theme-list button[data-theme=alex] {
  background-color: #cb4b16;
}

/* Hand */
.permanent #spread {
  font-family: "Permanent Marker";
  font-weight: 400;
  background-color: #6c71c4;
  color: #fdf6e3;
}
.permanent #spread strong {
  font-weight: 400;
  color: #002b36;
}
#theme-list button[data-theme=permanent] {
  background-color: #6c71c4;
}

/* Open */
.light #spread {
  font-family: "Open Sans";
  font-weight: 300;
  background-color: #268bd2;
  color: #fdf6e3;
}
.light #spread strong {
  font-weight: 800;
  color: #fdf6e3;
}
#theme-list button[data-theme=light] {
  background-color: #268bd2;
}

/* Open */
.noticia #spread {
  font-family: "Noticia";
  font-weight: normal;
  background-color: #2aa198;
  color: #fdf6e3;
}
.noticia #spread strong {
  font-weight: bold;
  color: #fdf6e3;
}
#theme-list button[data-theme=noticia] {
  background-color: #2aa198;
}

/* Ultralight */
.stmarie #spread {
  font-family: "StMarie";
  font-weight: normal;
  background-color: #d33682;
  color: #fdf6e3;
}
.stmarie #spread strong {
  font-weight: normal;
  color: #002b36;
}
#theme-list button[data-theme=stmarie] {
  background-color: #d33682;
}

/* Otama */
.otama #spread {
  font-family: "Otama";
  font-weight: normal;
  background-color: #859900;
  color: #002b36;
}
.otama #spread strong {
  font-weight: normal;
  color: #fdf6e3;
}
#theme-list button[data-theme=otama] {
  background-color: #859900;
}