@import url(../fonts/scifly.css);
@import url(../fonts/alex.css);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800);
@import url(../fonts/stmarie.css);
@font-face {
  font-family: 'Nexa';
  src: local('x'), url(../fonts/NexaLight.otf)  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nexa';
  src: local('x'), url(../fonts/NexaBold.otf)  format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Oranienbaum';
  src: local('x'), url(../fonts/Oranienbaum.ttf)  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'League';
  src: local('x'), url(../fonts/LeagueGothic-Regular.otf)  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'League';
  src: local('x'), url(../fonts/LeagueGothic-Italic.otf)  format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* White */
.white #spread {
  padding: 21px;
  font-family: "Oswald";
  background: beige;
  color: #fff;
//  background: -webkit-radial-gradient(center, circle cover, rgba(255,255,255,1) 40%,rgba(218,218,200,1) 100%);
  text-transform: uppercase;
  font-weight: 300;
}
.white #spread strong {
  font-weight: 700;
  font-size: 95.5%; // TODO: make this match;
}
/* League */
.league #spread {
  padding: 21px;
  font-family: "League";
  color: #120;
  background: -webkit-radial-gradient(center, circle cover, rgba(255,255,255,1) 40%,rgba(218,218,200,1) 100%);
}
.league #spread strong {
}
/* SciFly */
.scifly #spread {
  padding: 21px;
  font-family: "SciFly";
//  background: -webkit-radial-gradient(center, circle cover, rgba(255,255,255,1) 40%,rgba(200,218,218,1) 100%);
  text-transform: uppercase;
  font-weight: normal;
  color: #333;
  background: #ffd91c;
}
.scifly #spread strong {
  color: #fff;
  font-weight: normal;
}
/* Nexa */
.nexa #spread {
  padding: 21px;
  font-family: "Nexa";
  background: -webkit-radial-gradient(center, circle cover, rgba(255,255,255,1) 40%,rgba(200,218,218,1) 100%);
  text-transform: uppercase;
  font-weight: normal;
}
.nexa #spread strong {
  font-weight: bold;
}
/* Swiss */
.swiss #spread {
  padding: 20px 0;
  font-family: "Helvetica";
  font-weight: normal;
  background: #d00;
  color: #fff;
}
.swiss #spread strong {
  font-weight: bold;
}
/* Translucent */
.translucent #spread {
  padding: 20px 0;
  font-family: "Helvetica";
  font-weight: normal;
  background: -webkit-radial-gradient(center, ellipse cover, #333 40%,#000 100%);
  color: rgba(255,255,255,.6);
}
.translucent #spread strong {
  font-weight: bold;
}
/* WasIstDesign */
.alex #spread {
  padding: 21px;
  font-family: "WasIstDesign";
  background: -webkit-radial-gradient(center, circle cover, white 40%,beige 100%);
  text-transform: uppercase;
  font-weight: normal;
  color: #100;
}
.alex #spread strong {
  color: #900;
  font-weight: normal;
}
/* Permanent */
.permanent #spread {
  padding: 21px;
  font-family: "Permanent Marker";
  font-weight: 400;
  background: -webkit-radial-gradient(center, circle cover, #121 40%,#000 100%);
  color: #fff;
}
.permanent #spread strong {
  font-weight: 400;
  color: #0f0;
}
/* Light */
.light #spread {
  padding: 21px;
  font-family: "Open Sans";
  font-weight: 300;
  background: -webkit-radial-gradient(center, circle cover, #04c 40%,#01a 100%);
  color: #fff;
}
.light #spread strong {
  font-weight: 800;
  color: #fff;
}
/* St. Marie */
.stmarie #spread {
  padding: 21px;
  font-family: "StMarie";
  font-weight: normal;
  background: -webkit-radial-gradient(center, circle cover, #f0f 40%,#909 100%);
  color: #fff;
}
.stmarie #spread strong {
  font-weight: normal;
  color: lightyellow;
}
/* Classic */
.oranienbaum #spread {
  padding: 20px 0;
  font-family: "Oranienbaum";
  font-weight: normal;
  background: -webkit-radial-gradient(center, circle cover, rgba(255,255,255,1) 40%,rgba(218,218,200,1) 100%);
  color: #000;
}
.oranienbaum #spread strong {
  font-weight: normal;
  color: orange;
}
/* Thai */
/*.thai #spread {
  padding: 20px 0;
  font-weight: normal;
  background: url(../img/thai.jpg) no-repeat right center;
  background-size: cover;
  text-shadow: 0 1px 2px #000;
  color: #fff;
  font-family: 'Amatic SC';
}
.thai #spread strong {
  text-shadow: none;
  font-weight: normal;
  color: #000;
}*/