#tutorial {
  position: absolute;
  top: 0; 
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-radial-gradient(center, circle cover, rgba(0,0,0,.3) 0%,rgba(0,0,0,.6) 100%);
}
#tutorial.finished {
  -webkit-transform: scale(3,3);
  opacity: 0;
  -webkit-transition: all .2s ease-out;
}
#tutorial label {
  position: absolute;
  font: normal 15px "Marker Felt";
  color: #fff;
  text-shadow: 0 1px 0 #000;
  -webkit-transform: scale(0,0);
}

@-webkit-keyframes edit {
  0% {
    -webkit-transform: scale(0,0);
  }
  90% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}
@-webkit-keyframes resize {
  0% {
    -webkit-transform: scale(0,0);
  }
  40% {
    -webkit-transform: scale(1.5,1.5);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}
@-webkit-keyframes align {
  0% {
    -webkit-transform: scale(0,0);
  }
  20% {
    -webkit-transform: scale(1.2,1.2);
  }
  22% {
    -webkit-transform: scale(1,1);
  }
  60% {
    -webkit-transform: scale(1,1);
  }
  62% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}
@-webkit-keyframes start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#tutorial label[data-label=edit] {
  left: 50%;
  top: 50%;
  -webkit-animation: edit 1s 1s forwards;
}
#tutorial label[data-label=resize] {
  right: 20%;
  top: 20%;
  -webkit-animation: resize 1s 3s forwards;
}
#tutorial label[data-label=align] {
  left: 10%;
  top: 10%;
  -webkit-animation: align 1s 5s forwards;
}
#tutorial label[data-label=track] {
  left: 40%;
  bottom: 20%;
  -webkit-animation: edit 1s 7s forwards;
}
#tutorial label[data-label=theme-menu] {
  right: 10%;
  bottom: 10%;
  -webkit-animation: edit 1s 8s forwards;
}
#tutorial button {
  -webkit-appearance: none;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: 30px;
  left: 10%;
  right: 10%;
  border: none;
  height: 44px;
  background: -webkit-linear-gradient(top,#0c0,#090);
  box-shadow: 0 0 4px #0c0 inset;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font: bold 18px "Helvetica Neue";
  text-shadow: 0 1px 0 #090;
  -webkit-animation: start 1s 9s forwards;
  opacity: 0;
}